ul { 
  list-style: none 
} 

.container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.container > div {
	//width: 25%;
	padding: 10px;
  flex-grow: 1;
}

.container > div:nth-child(1) {
    flex: 0 0 350px;
}

body {
  font-family: "Sans-Serif", "Calibri";
  font-size: 14px;
  //background: black;
  //color: white
}

h1 {
  text-align: center;
  margin: 0% 0% 0% 0%;
  padding: 10px;
}

.button {
  font-family: "Sans-Serif", "Calibri";
  font-size: 14px;
}

.graphVis {
  width: 100%;
}

.containerGraph {
  //background-color: grey;
  height: 580px;
  //display: none;
}

.svgGraph {
  //background-color: blue;
  height: 580px;
  //display: none;
}
